{% extends "base.html" %}

{% block content %}
<div class="container px-4 py-5 my-3 text-center" style="font-family: PT Sans,sans-serif">
  <div>
    <img class="d-block mx-auto mb-4" src="https://www.ineco.org.ar/wp-content/themes/ineco/assets/images/logo_ineco.svg" alt="logo_ineco">
  </div>
  <div>
    <h1 class="d-block mx-auto mb-4" style="font-weight: 700">Evaluación Neuropsicológica</h1>
  </div>
  <div class="mb-2">
    <a class="btn btn-primary w-50 p-3 d-block mx-auto mb-4 fw-bold" href="/enps/create" role="button">Iniciar nueva evaluacion</a>
    <a class="btn btn-primary w-50 p-3 d-block mx-auto mb-4 fw-bold" href="/enps/recover" role="button">Recuperar evaluación previa</a>
  </div>
</div>
{% endblock %}
